:root {
  --font-family-primary: "Mulish", sans-serif;
  --font-family-secondary: "Titillium Web", sans-serif;
  --color-background: black;
  --text-color: white;
  --text-color-gray: #dddddd;
  --color-primary: #9b16bd;
}
